@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body { 
margin:0;
padding:0;
font-family: 'Roboto', sans-serif;
}


.quoteText{ 

color:#1f2937; 
font-style: italic;
}




.body{ 
font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: column;



}


/* Header 

*/


.header {
font-family: 'Roboto', sans-serif;
background-color: #1f2937;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 64px;



}


.headerBar{ 
display: flex;
flex: 1;
align-items: center;
justify-content: space-between;
margin-left: 64px;
gap: 180px;
}

.right-links { 
padding-left: 60px;
}
 


.header-content { 
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}


.headerText {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 475px;
flex-wrap: wrap;

}


.buttons { 
background: #3882f6;
color: #f9faf8;
font-family: 'Roboto', sans-serif;
font-weight: bold;
padding: 6px 24px;
border: none;
border-radius: 8px;
margin-right: 375px;
margin-top: -15px;
}


.headerText p { 
width: 450px;

}

a:link, a:visited {
    color: #f9faf8;
}






.headerLogoText {

font-size: 24px;
font-weight: 600;
color: #f9faf8; 
}

.heroMainText{ 
font-size: 48px;
font-weight: 900;
color: #f9faf8;
margin-bottom: -20px;
margin-right: 20px;
width: 400px;
}

.heroSecondaryText { 
font-size: 18px;
color: #e5e7eb;

}


.heroSecondaryText, ul, li, a { 
display: inline-table;
list-style: none;
margin-right:  16px;
text-decoration: none;
} 












.information{}

.informationHeader{ 
font-size: 36px;
font-weight: 900;
color: #1f2937; 
}


.quote { 
background-color: #e5e7eb;
}



.footer{
background-color: #1f2937;}